@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colors;

@font-face {
    font-family: Diogenes;
    src: url('../fonts/DIOGENES.ttf');
}

@font-face {
    font-family: Trajan;
    src: url('../fonts/TrajanPro-Regular.ttf');
}

@theme {
    --font-diogenes: 'Diogenes', sans-serif;
    --font-trajan: 'Trajan', serif;
    --color-greek-blue: #234876;
    --color-greek-gold: #D4AF37;
    --color-greek-cream: #F5F1E6;
}
